body
{
    margin: 0;
    padding: 0;
    color: #555;
    //font: normal 10pt Arial,Helvetica,sans-serif;
    font-family: 'Open Sans', Arial, sans-serif;
    background: #EFEFEF;
}

#page
{
    margin-top: 5px;
    margin-bottom: 5px;
    background: white;
    border: 1px solid #25383b;
    border-radius: 7px;
}

#header
{
    margin: 0;
    padding: 0;
    border-top: 1px solid #25383b;
    background:white url(menu.gif) repeat-x left top;
    color: #ffffff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#logo 
{
    padding: 10px 20px;
    font-size: 200%;
 
}

.imgLogo{
    vertical-align: middle;
    text-align: left;
}

.txtLogo{
    text-align: center;
    margin-left: 25%;
}

#content
{
    padding: 20px;
}

#perfil
{
    padding: 0px 20px 20px 0;
    text-align: center;
}

#sidebar
{
    padding: 20px 20px 20px 0;
}

#broadcast
{
    padding: 0px 20px 20px 0;
}

#footer
{
    padding: 10px;
    //margin: 10px 20px;
    font-size: 0.8em;
    text-align: center;
    color: #ffffff;
    border-top: 1px solid #25383b;
    background-color: #25383b;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    //#C9E0ED;
}

#mainmenu
{
    padding: 5px;
    background-color: #25383b;
    border-top: 1px solid #ffffff;
    //background:white url(menu.gif) repeat-x left top;
}

#mainmenu ul
{
    padding:6px 20px 5px 20px;
    margin:0px;
}

#mainmenu ul li
{
    display: inline;
}

#mainmenu ul li a
{
    color:#ffffff;
    background-color:transparent;
    font-size:12px;
    font-weight:300;
    text-decoration:none;
    padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
    //color: #6399cd;
    font-weight: bold;
    font-size:14px;
    //background-color:#EFF4FA;
    text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
    padding:.8em;
    margin-bottom:1em;
    border:2px solid #ddd;
}

div.flash-error
{
    background:#FBE3E4;
    color:#8a1f11;
    border-color:#FBC2C4;
}

div.flash-notice
{
    background:#FFF6BF;
    color:#514721;
    border-color:#FFD324;
}

div.flash-success
{
    background:#E6EFC2;
    color:#264409;
    border-color:#C6D880;
}

div.flash-error a
{
    color:#8a1f11;
}

div.flash-notice a
{
    color:#514721;
}

div.flash-success a
{
    color:#264409;
}

div.form .rememberMe label
{
    display: inline;
}

div.view
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
    font-size: 0.9em;
    padding: 5px 20px;
}

div.breadcrumbs span
{
    font-weight: bold;
}

div.search-form
{
    padding: 3px;
    margin: 3px 0;
}

.portlet
{

}

.portlet-decoration
{
    padding: 3px 8px;
    background: #609099;
    border-left: 5px solid #4d747a;
}

.portlet-title
{
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: white;
}

.portlet-content
{
    font-size:0.9em;
    margin: 0 0 15px 0;
    padding: 5px 8px;
    background:#d4e2e4;
}

.portlet-content ul
{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.portlet-content li
{
    padding: 2px 0 4px 0px;
}

.operations
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.operations li
{
    padding-bottom: 2px;
}

.operations li a
{
    font-size: 12px;
    font-weight: bold;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #25383b;
    display: block;
    padding: 2px 0 2px 8px;
    line-height: 15px;
    text-decoration: none;
}

.operations li a:visited
{
    color: #25383b;
}

.operations li a:hover
{
    background: #a0bfc5;
}

#cssmenu {
    border: none;
    border: 0px;
    margin: 0px;
    padding: 0px;
    //font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    width: auto;
}
#cssmenu ul {
    background: #25383b;
    height: 35px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#cssmenu li {
    float: left;
    padding: 0px;
}
#cssmenu li a {
    background: #25383b url('seperator.gif') bottom right no-repeat;
    display: block;
    font-weight: normal;
    line-height: 35px;
    margin: 0px;
    padding: 0px 25px;
    text-align: center;
    text-decoration: none;
}
#cssmenu > ul > li > a {
    color: #FFFFFF;
}
#cssmenu ul ul a {
    color: #FFFFFF;
}
#cssmenu li > a:hover,
#cssmenu ul li:hover > a {
    background: #333333 url('hover.png') bottom center no-repeat;
    color: #FFFFFF;
    text-decoration: none;
}
#cssmenu li ul {
    background: #333333;
    display: none;
    height: auto;
    padding: 0px;
    margin: 0px;
    border: 0px;
    position: absolute;
    width: 225px;
    z-index: 200;

}
#cssmenu li:hover ul {
    display: block;
}
#cssmenu li li {
    background: url('sub_sep.gif') bottom left no-repeat;
    display: block;
    float: none;
    margin: 0px;
    padding: 0px;
    width: 225px;
}
#cssmenu li:hover li a {
    background: none;
}
#cssmenu li ul a {
    display: block;
    height: 35px;
    font-size: 12px;
    font-style: normal;
    margin: 0px;
    padding: 0px 10px 0px 15px;
    text-align: left;
}
#cssmenu li ul a:hover,
#cssmenu li ul li:hover > a {
    background: #58808c url('hover_sub.png') center left no-repeat;
    border: 0px;
    color: #ffffff;
    text-decoration: none;
}
#cssmenu p {
    clear: left;
}